body {
  background: gray;
}
svg {
  background:
  url("https://i.kinja-img.com/gawker-media/image/upload/t_original/19dutcbzb86n1gif.gif");
  background-size: 100% auto;
  background-position: 0px -180px;
  display: block;
  margin: auto;
}
